.accueil {
  
  /* erreur ici, le padding manque d'unite, correction: ajouter px */
  padding: 30px;
}

/* typo ici, correction: heros --> hero */
.hero {
  min-height: 300px;
  padding: 50px;
  /* typo ici, correction: background-colour -->  background-color */
  background: linear-gradient(135deg, #170558 0%, #000000 100%);  
  border-radius:120px;
}

/* typo ici, correction:  font-weigth --> font-weight */
.titre {
  color: white;
  margin-bottom: 16px;
  font-weight:900;
  letter-spacing: 7px;
    
}

.description {
  color: white;
  max-width: 620px;
  margin-bottom: 24px;
  /* typo ici, correction:   text-align: centers -->   text-align: center */
  text-align: center;
  font-style: italic;
  font-size: 1.1rem;
}