.accueil {
  
  /* erreur ici, le padding manque d'unite, correction: ajouter px */
  padding: 30px;
}

/* typo ici, correction: heros --> hero */
.hero {
  min-height: 320px;
  padding: 40px;

  /* typo ici, correction: background-colour -->  background-color */
  background-color: #f3f4f6;
  border-radius: 18px;
}

/* typo ici, correction:  font-weigth --> font-weight */
.titre {
  margin-bottom: 16px;
  font-weight: 700;
}

.description {
  max-width: 620px;
  margin-bottom: 24px;
  /* typo ici, correction:   text-align: centers -->   text-align: center */
  text-align: center;
}