.navbar {
  background-color: rgb(44, 0, 148);
  border-bottom: 1px solid #4884fc;
  box-shadow: 0 4px 20px rgba(109, 36, 243, 0.05);
  padding: 12px 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

/* enlever le style par defaut du burger-bouton */
 .toggle {
    border: none;
    box-shadow: none;
  }