 /* la gestion du responsiveness est gere par bootstrap */

.wrapper {
    margin-top: 35px;
  }

  .title {
    margin: 0;
    color: #4ea0ee;
    font-size: 1.5rem;
    font-weight: 750;
  }

  .emptyMessage {
    margin-bottom: 25px;
    border-radius: 12px;
  }